### Import libraries and create data frame

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# Prepare Data

In [91]:
stroke_df = pd.read_csv("Resources/healthcare-dataset-stroke-data.csv")
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [92]:
stroke_df['smoking_status'].value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

### Split into X and y

In [93]:
X = stroke_df.drop(columns=['id', 'stroke'])
X.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked

In [94]:
y = stroke_df['stroke']

### Train test split

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Handle Nulls

In [96]:
X_train.isna().sum()/len(stroke_df)

gender               0.000000
age                  0.000000
hypertension         0.000000
heart_disease        0.000000
ever_married         0.000000
work_type            0.000000
Residence_type       0.000000
avg_glucose_level    0.000000
bmi                  0.029941
smoking_status       0.000000
dtype: float64

In [98]:
(X_train['smoking_status'] == 'Unknown').sum()/len(stroke_df)

0.22857142857142856

In [99]:
#drop the 2.99% null bmi rows
X_train.dropna(inplace = True)

X_train.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
1914,Male,43.0,0,0,Yes,Private,Rural,77.86,28.9,never smoked
1751,Female,65.0,0,0,Yes,Private,Urban,88.82,28.2,formerly smoked
396,Male,60.0,1,0,Yes,Private,Rural,213.37,36.0,never smoked
1783,Male,2.0,0,0,No,children,Rural,65.67,16.6,Unknown
2361,Female,30.0,0,0,Yes,Private,Urban,101.98,23.2,Unknown

In [103]:
X_train.loc[X_train['smoking_status'] == 'Unknown'].describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi
count,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000
mean,29.955889,0.030384,0.025022,97.790751,25.604021
std,24.964771,0.171719,0.156263,34.949039,7.975154
min,0.080000,0.000000,0.000000,55.280000,10.300000
25%,8.000000,0.000000,0.000000,76.385000,19.500000
50%,22.000000,0.000000,0.000000,88.830000,24.500000
75%,51.000000,0.000000,0.000000,108.800000,30.050000
max,82.000000,1.000000,1.000000,254.600000,97.600000

In [104]:
X_train.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi
count,3679.000000,3679.000000,3679.000000,3679.000000,3679.000000
mean,42.930318,0.092416,0.050285,104.948323,28.963930
std,22.531573,0.289652,0.218563,44.628451,7.809128
min,0.080000,0.000000,0.000000,55.120000,10.300000
25%,25.000000,0.000000,0.000000,76.505000,23.700000
50%,45.000000,0.000000,0.000000,91.040000,28.100000
75%,60.000000,0.000000,0.000000,113.265000,33.100000
max,82.000000,1.000000,1.000000,271.740000,97.600000

In [65]:
'''
for x in stroke_df:
    display(stroke_df[x].value_counts())
'''

'\nfor x in stroke_df:\n    display(stroke_df[x].value_counts())\n'

## Encode the dataset

In [ ]:
#encode

## Resample Data